.container-fluid
  .row-fluid
    .span2
      %ul.nav.nav-list
        %li.active
          %button.btn.wanted-dogs{type: "button"} #{t('sidebar.wanted_dogs')}
        %li
          %button.btn.lost-dogs{type: "button"} #{t('sidebar.lost_dogs')}       
    .span10
      = gmaps({"map_options" => {"auto_adjust" => false, detect_location: true, center_on_user: true,:center_latitude => -34.6, :center_longitude => -58.45 , zoom: 13, auto_zoom: false},"markers" => {"data" => @json, "options" => {"rich_marker" => true } } })