.field_with_errors {
  padding: 2px;
  background-color: transparent;
  display: initial;  
}

.fb-connect img {
  width: 220px;
}

.facebook-div {
  border-bottom-style: dotted;
  border-top-style: dotted;
  padding: 10px;
}

.top-line-separator {
  position: relative;
}

.bottom-line-separator {
  position: relative; 
}

.line-separator {
  border-bottom: 0px;
  border-top: 2px solid;
  color: #818181;
  width: 50px;  
}

.sign-up-inputs {
  text-align: center;
  margin-top: 10px;
}